
# Database files
*.db
*.db-journal
*.sqlite3

# Python cache
__pycache__/
*.py[cod]

# IDE / OS specific
.vscode/
.idea/
.DS_Store
./DAQ_Control_SW/LOG/UPS/
DAQ_Control_SW/LOG/
*.csv
main_v*.py
ui_manager_original.py
__pycache__/
